@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="info-panel">
                    <h2 class="text-primary">Roofstiles</h2>
                </div>

                <div class="footer-nave">
                    <div class="footer-list">
                        <a href="/">
                            Home
                        </a>
                        <a href="/about-us">
                            About Us
                        </a>
                        <a href="/services">
                            Services
                        </a>
                        <a href="/portfolio">
                            Portfolio
                        </a>
                        <a href="/health-safety">
                            Health and Safety
                        </a>
                        <a href="/contact-us">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="info-panel">
                    <h2 class="text-primary">Services</h2>
                </div>

                <div class="footer-nave">
                    <div class="footer-list">
                        <a href="/services/pitched-roofing/">
                            Pitched Roofing
                        </a>
                        <a href="/services/flat-roofing/">
                            Flat Roofing
                        </a>
                        <a href="/services/metal-roofing/">
                            Metal Roofing
                        </a>
                        <a href="/services/leadworks/">
                            Leadworks
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="info-panel">
                    <h2 class="text-primary">Contact Us</h2>
                </div>

                <div class="footer-nave">
                    <div class="footer-list">
                        <a>
                            <span><img src="/media/elebubz5/home.png" alt="logo" /></span>
                            New Forest Office<br />
                            Second Floor<br />
                            12 High Street<br />
                            Lyndhurst<br />
                            Hampshire<br />
                            SO43 7BD
                        </a>
                        <a href="mailto:info@roofstiles.co.uk">
                            <span><img src="/media/bbbc2bam/email.png" alt="logo" /></span> info@roofstiles.co.uk
                        </a>
                        <a>
                            <span><img src="/media/0lhnav4m/phone.png" alt="logo" /></span> 023 8110 3445
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-12 col-md-12">
                <div class="footer-nave">
                    <div class="space-top">
                    </div>

                    <div class="footer-list">
                        <a>
                            <span><img src="/media/elebubz5/home.png" alt="logo" /></span>
                            North Hampshire Office<br />
                            The Acorns<br />
                            19 Carlton Crescent<br />
                            Church Crookham<br />
                            Hampshire<br />
                            GU52 6AP
                        </a>
                        @*<hr />
                        <p>&copy; @DateTime.Now.Year <a href="/">Roofstiles Limited</a> | All Rights Reserved</p>
                        <a href="/privacy-policy/">Privacy Policy</a>
                        <a href="/cookie-policy">Cookies Policy</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copy-right text-center">
    <div class="container">
        &copy; @DateTime.Now.Year Roofstiles Limited | <a href="/">All Rights Reserved</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/cookie-policy">Cookies Policy</a><br />
        <p class="text-center">Registered in England: 6546115 |  VAT No: 348 3496 66</p>
    </div>
</section>